image:
  repository: public.ecr.aws/aws-secrets-manager/secrets-store-csi-driver-provider-aws
  pullPolicy: IfNotPresent
  tag: 1.0.r2-6-gee95299-2022.04.14.21.07

nameOverride: ""
fullnameOverride: ""
providerVolume: "/etc/kubernetes/secrets-store-csi-providers"

podLabels: {}
podAnnotations: {}
priorityClassName: ""

resources:
  requests:
    cpu: 50m
    memory: 100Mi
  limits:
    cpu: 50m
    memory: 100Mi

nodeSelector: {}

tolerations: []

port: 8989

updateStrategy:
  type: RollingUpdate

rbac:
  install: true

securityContext:
  privileged: false
  allowPrivilegeEscalation: false
