image:
  repository: public.ecr.aws/aws-secrets-manager/secrets-store-csi-driver-provider-aws
  pullPolicy: IfNotPresent
  tag: 1.0.r2-75-g1f97be0-2024.10.17.19.45

nameOverride: ""
fullnameOverride: ""
providerVolume: "/etc/kubernetes/secrets-store-csi-providers"
kubeletPath: "/var/lib/kubelet"

podLabels: {}
podAnnotations: {}

affinity: {}

resources:
  requests:
    cpu: 50m
    memory: 100Mi
  limits:
    cpu: 50m
    memory: 100Mi

priorityClassName: ""
nodeSelector: {}

tolerations: []

port: 8989

updateStrategy:
  type: RollingUpdate

imagePullSecrets: []

rbac:
  install: true

securityContext:
  privileged: false
  allowPrivilegeEscalation: false

useFipsEndpoint: false
