image:
  repository: public.ecr.aws/aws-secrets-manager/secrets-store-csi-driver-provider-aws
  pullPolicy: IfNotPresent
  tag: 2.1.0

awsRegion: ""
nameOverride: ""
fullnameOverride: ""
providerVolume: "/var/run/secrets-store-csi-providers"
kubeletPath: "/var/lib/kubelet"

driverWritesSecrets: false

commonLabels: {}
podLabels: {}
podAnnotations: {}

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: "eks.amazonaws.com/compute-type"
              operator: NotIn
              values:
              - fargate

resources:
  requests:
    cpu: 50m
    memory: 100Mi
  limits:
    cpu: 50m
    memory: 100Mi

priorityClassName: ""
nodeSelector: {}

# ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
# An empty key with operator Exists matches all keys, values and effects which means this will tolerate everything.
tolerations:
  - operator: "Exists"

port: 8989

updateStrategy:
  type: RollingUpdate

imagePullSecrets: []

rbac:
  install: true

securityContext:
  privileged: false
  allowPrivilegeEscalation: false

useFipsEndpoint: false

podIdentityHttpTimeout:

dnsConfig: {}

secrets-store-csi-driver:
  install: true
  fullnameOverride: secrets-store-csi-driver
