image:
  repository: public.ecr.aws/aws-secrets-manager/secrets-store-csi-driver-provider-aws
  pullPolicy: IfNotPresent
  tag: 1.0.r2-50-g5b4aca1-2023.06.09.21.19

nameOverride: ""
fullnameOverride: ""
providerVolume: "/etc/kubernetes/secrets-store-csi-providers"

podLabels: {}
podAnnotations: {}

affinity: {}

resources:
  requests:
    cpu: 50m
    memory: 100Mi
  limits:
    cpu: 50m
    memory: 100Mi

priorityClassName: ""
nodeSelector: {}

tolerations: []

port: 8989

updateStrategy:
  type: RollingUpdate

imagePullSecrets: []

rbac:
  install: true

securityContext:
  privileged: false
  allowPrivilegeEscalation: false
